<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />  
  </system.web>
  <system.serviceModel>
    <!--<services>
      <service name="QLBH_PHONE_SERVICE.Save">
        <endpoint address="soap" contract="QLBH_PHONE_SERVICE.ISave" binding="basicHttpBinding" />
        <endpoint address="rest" contract="QLBH_PHONE_SERVICE.ISave" binding="webHttpBinding" behaviorConfiguration="be" />
      </service>
    </services>-->
    <behaviors> 
      <!--<endpointBehaviors>
        <behavior name="be">
          <webHttp/>
        </behavior>
      </endpointBehaviors>-->
      <serviceBehaviors>             
        <behavior>        
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json"></standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <!--<add name="QLBH_PHONE_Entities" connectionString="workstation id=sqlqlbhphone.mssql.somee.com;packet size=4096;user id=jack_developer_SQLLogin_1;pwd=tn59pwjgc4;data source=sqlqlbhphone.mssql.somee.com;persist security info=False;initial catalog=sqlqlbhphone" providerName="System.Data.SqlClient"/>-->
    <add name="QLBH_PHONE_Entities" connectionString="metadata=res://*/Models.QLBH_PHONE.csdl|res://*/Models.QLBH_PHONE.ssdl|res://*/Models.QLBH_PHONE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JACK_LAPTOP\JACK_SERVER;initial catalog=QLBH_PHONE_UTF8;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>